[submodule "Unity/Quantra/Assets/Libs/gamelib"]
	path = Unity/Quantra/Assets/Libs/gamelib
	url = https://github.com/cholushkin/gamelib.git
[submodule "Unity/Quantra/Assets/Libs/uconsole"]
	path = Unity/Quantra/Assets/Libs/uconsole
	url = https://github.com/cholushkin/uconsole.git
